.macbook-pro {
    background-color: #221d23;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .overlap-wrapper {
    background-color: #221d23;
    width: 1728px;
    height: 6400px;
  }
  
  .macbook-pro .overlap {
    position: relative;
    height: 6400px;
    background-image: url(./img/fundo.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .macbook-pro .group {
    position: absolute;
    width: 985px;
    height: 388px;
    top: 1171px;
    left: 681px;
  }
  
  .macbook-pro .overlap-group {
    position: relative;
    width: 983px;
    height: 388px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle {
    width: 983px;
    height: 388px;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .ol-sou-o-tiago-um {
    position: absolute;
    width: 938px;
    top: 51px;
    left: 24px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper {
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
  }
  
  .macbook-pro .span {
    font-family: "Instrument Sans-Bold", Helvetica;
    font-weight: 700;
  }
  
  .macbook-pro .text-wrapper-2 {
    font-family: "Instrument Sans-SemiBold", Helvetica;
    font-weight: 600;
  }
  
  .macbook-pro .text-wrapper-3 {
    font-family: "Instrument Sans-Medium", Helvetica;
    font-weight: 500;
  }
  
  .macbook-pro .overlap-group-wrapper {
    position: absolute;
    width: 306px;
    height: 300px;
    top: 1850px;
    left: 206px;
  }
  
  .macbook-pro .div {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-2 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
  }
  
  .macbook-pro .text-wrapper-4 {
    position: absolute;
    width: 238px;
    top: 195px;
    left: 37px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-5 {
    position: absolute;
    width: 110px;
    top: 136px;
    left: 104px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-6 {
    position: absolute;
    top: 49px;
    left: 85px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .header {
    position: absolute;
    width: 808px;
    height: 73px;
    top: 59px;
    left: 464px;
    background-color: transparent;
  }
  
  .macbook-pro .navbar {
    position: relative;
    width: 800px;
    height: 73px;
    background-image: url(./img/rectangle-1.svg);
    background-size: 100% 100%;
  }
  
  .macbook-pro .text-wrapper-7 {
    position: absolute;
    width: 122px;
    top: 23px;
    left: 61px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-8 {
    left: 452px;
    position: absolute;
    top: 23px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-9 {
    left: 241px;
    position: absolute;
    top: 23px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .line {
    width: 1px;
    height: 35px;
    top: 22px;
    left: 597px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .img {
    width: 1px;
    height: 35px;
    top: 23px;
    left: 400px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .line-2 {
    width: 1px;
    height: 35px;
    top: 19px;
    left: 216px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .text-wrapper-10 {
    left: 648px;
    position: absolute;
    top: 23px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-2 {
    position: absolute;
    width: 702px;
    height: 90px;
    top: 703px;
    left: 514px;
  }
  
  .macbook-pro .overlap-2 {
    position: absolute;
    width: 239px;
    height: 62px;
    top: 0;
    left: 230px;
    border-radius: 0px 20px 20px 20px;
  }
  
  .macbook-pro .rectangle-3 {
    width: 239px;
    height: 62px;
    background-color: #ff0d0d;
    border-radius: 0px 20px 20px 20px;
    opacity: 0.42;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper-11 {
    position: absolute;
    top: 17px;
    left: 21px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .line-3 {
    width: 700px;
    height: 1px;
    top: 90px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .line-4 {
    width: 360px;
    height: 1px;
    top: 3932px;
    left: 691px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .overlap-3 {
    position: absolute;
    width: 809px;
    height: 151px;
    top: 516px;
    left: 459px;
  }
  
  .macbook-pro .text-wrapper-12 {
    position: absolute;
    top: 0;
    left: 233px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-13 {
    position: absolute;
    top: 74px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-14 {
    position: absolute;
    top: 3834px;
    left: 740px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .habilidades-titulo {
    position: absolute;
    top: 2632px;
    left: 676px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-4 {
    position: absolute;
    width: 627px;
    height: 88px;
    top: 4551px;
    left: 110px;
  }
  
  .macbook-pro .text-wrapper-15 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .text-wrapper-16 {
    position: absolute;
    width: 627px;
    top: 39px;
    left: 0;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-5 {
    position: absolute;
    width: 627px;
    height: 88px;
    top: 4551px;
    left: 977px;
  }
  
  .macbook-pro .text-wrapper-17 {
    position: absolute;
    top: 0;
    left: 1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .div-wrapper {
    position: absolute;
    width: 306px;
    height: 300px;
    top: 1850px;
    left: 714px;
  }
  
  .macbook-pro .text-wrapper-18 {
    position: absolute;
    width: 238px;
    top: 195px;
    left: 51px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-19 {
    position: absolute;
    width: 174px;
    top: 136px;
    left: 68px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-3 {
    position: absolute;
    width: 306px;
    height: 300px;
    top: 1850px;
    left: 1222px;
  }
  
  .macbook-pro .text-wrapper-20 {
    position: absolute;
    width: 238px;
    top: 195px;
    left: 50px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-21 {
    width: 174px;
    top: 136px;
    left: 82px;
    font-size: 40px;
    position: absolute;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-22 {
    position: absolute;
    top: 49px;
    left: 64px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .mdi-linkedin {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 208px;
    left: 1654px;
  }
  
  .macbook-pro .ic-baseline-telegram {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 579px;
    left: 1654px;
  }
  
  .macbook-pro .mingcute-facebook {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 332px;
    left: 1654px;
  }
  
  .macbook-pro .ri-instagram-fill {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 455px;
    left: 1654px;
  }
  
  .macbook-pro .mask-group {
    position: absolute;
    width: 492px;
    height: 492px;
    top: 1119px;
    left: 110px;
  }
  
  .macbook-pro .group-4 {
    position: absolute;
    width: 247px;
    height: 65px;
    top: 4647px;
    left: 110px;
  }
  
  .macbook-pro .overlap-6 {
    position: relative;
    width: 245px;
    height: 65px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-4 {
    width: 245px;
    height: 65px;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper-23 {
    position: absolute;
    width: 216px;
    top: 18px;
    left: 15px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-5 {
    position: absolute;
    width: 103px;
    height: 65px;
    top: 4648px;
    left: 679px;
  }
  
  .macbook-pro .overlap-7 {
    position: relative;
    width: 101px;
    height: 65px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-5 {
    width: 101px;
    position: absolute;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
  }
  
  .macbook-pro .text-wrapper-24 {
    position: absolute;
    width: 72px;
    top: 18px;
    left: 17px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-6 {
    position: absolute;
    width: 196px;
    height: 65px;
    top: 4647px;
    left: 977px;
  }
  
  .macbook-pro .overlap-8 {
    position: relative;
    width: 194px;
    height: 65px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-6 {
    width: 194px;
    position: absolute;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
  }
  
  .macbook-pro .text-wrapper-25 {
    position: absolute;
    width: 162px;
    top: 18px;
    left: 18px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-7 {
    position: absolute;
    width: 261px;
    height: 65px;
    top: 4647px;
    left: 1355px;
  }
  
  .macbook-pro .overlap-9 {
    position: relative;
    width: 259px;
    height: 65px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-7 {
    width: 259px;
    position: absolute;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
  }
  
  .macbook-pro .text-wrapper-26 {
    position: absolute;
    width: 250px;
    top: 18px;
    left: 9px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-8 {
    position: absolute;
    width: 193px;
    height: 65px;
    top: 4647px;
    left: 421px;
  }
  
  .macbook-pro .overlap-10 {
    position: relative;
    width: 191px;
    height: 65px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-8 {
    width: 191px;
    height: 65px;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper-27 {
    position: absolute;
    width: 166px;
    top: 18px;
    left: 21px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .smartgreenhouse {
    position: absolute;
    width: 670px;
    height: 477px;
    top: 4066px;
    left: 110px;
    object-fit: cover;
  }
  
  .macbook-pro .figma-image {
    position: absolute;
    width: 441px;
    height: 499px;
    top: 2688px;
    left: 95px;
    object-fit: cover;
  }
  
  .macbook-pro .canva-image {
    position: absolute;
    width: 366px;
    height: 300px;
    top: 2788px;
    left: 681px;
    object-fit: cover;
  }
  
  .macbook-pro .html-image {
    position: absolute;
    width: 475px;
    height: 344px;
    top: 2766px;
    left: 1162px;
    object-fit: cover;
  }
  
  .macbook-pro .python-image {
    position: absolute;
    width: 417px;
    height: 347px;
    top: 3187px;
    left: 1191px;
    object-fit: cover;
  }
  
  .macbook-pro .mysql-image {
    position: absolute;
    width: 632px;
    height: 346px;
    top: 3225px;
    left: 548px;
    object-fit: cover;
  }
  
  .macbook-pro .wordpress-image {
    position: absolute;
    width: 318px;
    height: 318px;
    top: 3253px;
    left: 151px;
    object-fit: cover;
  }
  
  .macbook-pro .group-9 {
    position: absolute;
    width: 112px;
    height: 65px;
    top: 4648px;
    left: 1208px;
  }
  
  .macbook-pro .overlap-11 {
    position: relative;
    width: 110px;
    height: 65px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-9 {
    width: 110px;
    position: absolute;
    height: 65px;
    top: 0;
    left: 0;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
  }
  
  .macbook-pro .text-wrapper-28 {
    position: absolute;
    width: 87px;
    top: 17px;
    left: 19px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .line-5 {
    width: 432px;
    height: 1px;
    top: 2730px;
    left: 646px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .text-wrapper-29 {
    position: absolute;
    top: 4938px;
    left: 577px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .line-6 {
    width: 600px;
    height: 1px;
    top: 5022px;
    left: 564px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .group-10 {
    position: absolute;
    width: 425px;
    height: 65px;
    top: 5069px;
    left: 437px;
  }
  
  .macbook-pro .overlap-12 {
    position: relative;
    width: 423px;
    height: 65px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-10 {
    width: 423px;
    height: 65px;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper-30 {
    position: absolute;
    width: 71px;
    top: 18px;
    left: 176px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-11 {
    position: absolute;
    width: 425px;
    height: 65px;
    top: 5069px;
    left: 864px;
  }
  
  .macbook-pro .text-wrapper-31 {
    position: absolute;
    width: 68px;
    top: 18px;
    left: 178px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-13 {
    position: absolute;
    width: 854px;
    height: 65px;
    top: 5155px;
    left: 437px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-11 {
    width: 854px;
    height: 65px;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper-32 {
    position: absolute;
    width: 93px;
    top: 17px;
    left: 380px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-14 {
    position: absolute;
    width: 854px;
    height: 561px;
    top: 5241px;
    left: 437px;
    border-radius: 50px;
  }
  
  .macbook-pro .rectangle-12 {
    width: 854px;
    height: 561px;
    background-color: #8e8c8c;
    border-radius: 50px;
    opacity: 0.38;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper-33 {
    position: absolute;
    width: 151px;
    top: 265px;
    left: 380px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .group-12 {
    position: absolute;
    width: 241px;
    height: 62px;
    top: 5823px;
    left: 744px;
  }
  
  .macbook-pro .overlap-15 {
    position: relative;
    width: 239px;
    height: 62px;
    border-radius: 0px 20px 0px 20px;
  }
  
  .macbook-pro .rectangle-13 {
    position: absolute;
    width: 239px;
    height: 62px;
    top: 0;
    left: 0;
    background-color: #ff0d0d;
    border-radius: 0px 20px 0px 20px;
    opacity: 0.42;
  }
  
  .macbook-pro .text-wrapper-34 {
    position: absolute;
    top: 16px;
    left: 85px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .line-7 {
    width: 1728px;
    height: 1px;
    top: 6184px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro .mdi-linkedin-2 {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 6222px;
    left: 1460px;
  }
  
  .macbook-pro .ic-baseline-telegram-2 {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 6299px;
    left: 1535px;
  }
  
  .macbook-pro .mingcute-facebook-2 {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 6222px;
    left: 1535px;
  }
  
  .macbook-pro .ri-instagram-fill-2 {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 6299px;
    left: 1460px;
  }
  
  .macbook-pro .footer {
    position: absolute;
    width: 731px;
    height: 29px;
    top: 6284px;
    left: 509px;
    background-color: transparent;
  }
  
  .macbook-pro .text-wrapper-35 {
    position: absolute;
    width: 131px;
    top: 0;
    left: 0;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-36 {
    position: absolute;
    width: 151px;
    top: 0;
    left: 194px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-37 {
    position: absolute;
    width: 151px;
    top: 0;
    left: 572px;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-38 {
    width: 101px;
    top: 0;
    left: 408px;
    font-size: 24px;
    position: absolute;
    font-family: "Instrument Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-39 {
    position: absolute;
    width: 211px;
    top: 6274px;
    left: 159px;
    font-family: "Instrument Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .emojione-monotone-up {
    top: 2166px;
    left: 1639px;
    position: absolute;
    width: 64px;
    height: 64px;
  }
  
  .macbook-pro .overlap-16 {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 3669px;
    left: 1637px;
  }
  
  .macbook-pro .emojione-monotone-up-2 {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .emojione-monotone-up-3 {
    top: 5960px;
    left: 1632px;
    position: absolute;
    width: 64px;
    height: 64px;
  }
  
  .macbook-pro .vector {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 4879px;
    left: 1634px;
  }
  
  .macbook-pro .carcontrol-image {
    position: absolute;
    width: 636px;
    height: 477px;
    top: 4066px;
    left: 978px;
    object-fit: cover;
  }
  